<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:aop = "http://www.springframework.org/schema/aop"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

   <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
   <bean name="trainee" class="com.arit.employee.Trainee">
   	 <property name="name" value="Pradeep Beniwal" />
   </bean>
   <bean name="trainer" class="com.arit.employee.Trainer">
   	 <property name="name" value="Bharat Singh" />
   </bean>
   <bean name="empService" 
   	class="com.arit.service.EmployeeService" autowire="byName" />
   <bean name="loggingAspect" class="com.arit.aspect.LoggingAspect"/>
</beans>